@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100vw;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

a {
    display: block;
    background-color: rgb(106, 9, 9);
    padding: 5px;
    text-align: center;
    color: rgb(223, 223, 223);
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    background-color: rgb(251, 74, 74);
}